@font-face {
  font-family: 'Merriweather';
  src: url("assets/fonts/Merriweather-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: 'Inter';
  src: url("assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
}

:root {
  --color-gold: #bdae82;
  --color-black: #000000;
  --color-white: #ffffff;
  --font1: 60px;
  --font2: 40px;
  --font3: 20px;
  --font4: 18px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  background-color: var(--color-black);
  color: var(--color-white);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

h1 {
  font-family: 'Merriweather';
  font-size: var(--font1);
  margin: 0;
}

h2 {
  font-family: 'Merriweather';
  font-size: var(--font2);
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

.subtitle {
  text-align: center;
  color: var(--color-gold);
  margin-bottom: 80px;
}

.subtitle::before,
.subtitle::after {
  display: inline-block;
  vertical-align: middle;
  width: 280px;
  margin: 0 18px;
  content: '';
  background-color: var(--color-gold);
  height: 2px;
}

.header {
  height: 90px;
  background: url('./assets/img/bg.png');
  background-repeat: no-repeat;
  background-position: center 0;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo {
  width: 50px;
  height: 50px;
}

.nav {
  margin-left: auto;
}

.nav__items {
  display: flex;
  justify-content: space-between;
}

.nav__item {
  margin-left: 30px;
  font-size: var(--font3);
}

.lang {
  margin-left: 35px;
}

.lang__item {
  font-size: var(--font3);
  font-weight: bold;
  margin-left: 4px;
}

.lang__item--en {
  color: var(--color-gold);
}

.hero {
  height: 820px;
  margin-bottom: 115px;
  padding-top: 185px;
  padding-left: 80px;
  background: url('./assets/img/bg.png');
  background-repeat: no-repeat;
  background-position: center -90px;
}

.hero__title {
  margin-bottom: 35px;
}

.hero__desc {
  max-width: 470px;
  font-size: var(--font3);
  line-height: 200%;
  margin-bottom: 25px;
}

.hero__button {
  width: 220px;
  height: 55px;
  background-color: var(--color-gold);
  font-size: var(--font3);
  color: var(--color-black);
}

.skills {
  margin-bottom: 110px;
}

.skills__items {
  display: flex;
  justify-content: space-around;
}

.skill-item {
  text-align: center;
  max-width: 320px;
  padding: 0 20px;
}

.skill-item__icon {
  margin-bottom: 25px;
}

.skill-item__title {
  font-weight: bold;
  font-size: var(--font3);
  line-height: 200%;
}

.skill-item__desc {
  font-size: var(--font4);
  line-height: 200%;
  text-align: center;
}